//
// Author: OSTON <ti@oston.io>
// Name: Pomodoro
// Description: Nuxt styles
// File: display.scss
// Location: @/assets/sass/layout
//


@mixin display($type, $horizontal: flex-start, $vertical: flex-start) {

	display: $type;

	@if index($type, 'flex') {
		justify-content: $horizontal;
		align-items: $vertical;
	}
}

@mixin grow($status) {
	@if $status == true {
		flex-grow: 1;
	} @else {
		flex-grow: 0;
	}
}

@mixin wrap($status) {
  @if $status == true {
    flex-wrap: wrap
  } @else {
    flex-wrap: nowrap
  }
}

@mixin direction($direction) {
  @if $direction == 'vertical' OR $direction == 'column' {
    flex-direction: column;
  } @else if $direction == 'horizontal' OR $direction == 'row' {
    flex-direction: row;
  } @else {
    flex-direction: $direction;
  }
}
