//
// Author: OSTON <ti@oston.io>
// Name: Pomodoro
// Description: Nuxt styles
// File: mixins.scss
// Location: @/assets/sass/core
//

// MEDIA QUERYS BREAKPOINTS
@mixin media($breakpoint) {
	@media only screen and (min-width: rem($breakpoint)) {
		@content;
	}
}

// LETRA A
@mixin animation($animate...) {
	$max: length($animate);
	$animations: "";

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation: $animations;
	-o-animation: $animations;
	animation: $animations;
}
// LETRA B
@mixin background($color) {
  background-color: color($color)
}

@mixin box-shadow($args...) {
	box-shadow: $args;
}
// LETRA C
@mixin change-svg-color($color) {
	fill: $color !important;
	* {
		fill: $color !important;
	}
}

@mixin color($color) {
	color: color($color);
}

@mixin circle($x) {
	height: rem($x);
	width: rem($x);
	border-radius: rem($x);
}

// LETRA D
// LETRA E
// LETRA F
@mixin font($font-name, $imp: false) {
	font-family: #{$font-name}, Arial, sans-serif if($imp, !important, null);
}
@mixin font-size($size, $imp: false) {
	font-size: rem($size) if($imp, !important, null);
}
// LETRA G
// LETRA H
// LETRA I
// LETRA J
// LETRA K
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
// LETRA L
// LETRA M
// LETRA N
// LETRA O
@mixin opacity($value) {
	$IEValue: $value * 100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $IEValue + ")";
	filter: alpha(opacity=$IEValue);
}
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}
// LETRA P
@mixin placeholder {
	@include optional-at-root("::-webkit-input-placeholder") {
		@content;
	}

	@include optional-at-root(":-moz-placeholder") {
		@content;
	}

	@include optional-at-root("::-moz-placeholder") {
		@content;
	}

	@include optional-at-root(":-ms-input-placeholder") {
		@content;
	}
}
// LETRA Q
// LETRA R
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}
// LETRA S
@mixin scale($scale) {
	@include transform(scale($scale));
}
@mixin skew($x: 0, $y: 0) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin scrollbar($direction, $thumb, $thumb-hover, $track, $button) {
	&::-webkit-scrollbar {
		@if $direction == "horizontal" {
			height: rem(3);
		}

		@if $direction == "vertical" {
			width: rem(5);
		}

		&-button {
			display: block;
			height: 0;
			width: 0;
			border-radius: 0;
			background-color: $button;

			&:hover {
				background-color: darken($button, 10%);
			}
		}

		&-thumb {
			background-color: $thumb;
			@include box-shadow(none);

			@include transition(all $timing ease);

			&:hover {
				background-color: $thumb-hover;
				@include box-shadow(none);
			}
		}

		&-track {
			background-color: $track;

			&:hover {
				background-color: $track;
			}
		}
	}
}

// LETRA T
@mixin transition($args...) {
	transition: $args;
}
@mixin transform($transforms) {
	transform: $transforms;
}
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}
@mixin transform-origin($origin) {
	transform-origin: $origin;
}
// LETRA U
// LETRA V
// LETRA Y
// LETRA Z
// LETRA W
